body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }

  .container {
    width: 100%;
    max-width: 300px;
    padding: 40px;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 5px #dcdcdc;
    background-color: #ffffff;
  }

  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 150px;
  }

  .login_field button {
    background-color: #1771eb;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    width: 100%;
    color: white;
    cursor: pointer;

  }

  .login_field button:hover {
    background-color: #0650b7;
  }

  .username,
  .password {
    border: none;
    border-bottom: 2px solid #b8b8b8;
    background: none;
    padding: 10px;
    font-weight: 700;
    width: 93%;
    transition: .2s;
    outline: none;
  }

  .password:active,
  .password:focus,
  .username:hover,
  .password:hover {
    outline: none;
    border-bottom-color: black;
  }



  .login__field input[type="checkbox"] {
    width: 12px;
    vertical-align: middle;
    background-color: transparent;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50px;
    height: 60px;
    padding: 15px;
    align-items: center;
    color: white;
    font-size: small;
    border-radius: 20px;
  }

  @media (max-width: 767px) {
    .container {
      width: 90%;
    }
  }


  .register-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    color: #1771eb;
    text-align: center;
    font-family: sans-serif;
}



.register-container form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.column {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.register-container label {
    margin-top: 10px;
}

.register-container input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.register-container button {
    background-color: #1771eb;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}



.register-container button:hover {
    background-color: #0650b7;
}

/* Add styles for the blurred background */


  /* Add styles for the popup */
  #registerSection {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 2;
    filter: none; /* Add this line to remove the blur effect on the register section */
  }

  .Otp {
    display: none;
}
.Otp label{
    font-size: 17px;
}

.Otp input {
    width: 8vh;
    height: 3vh;
    padding: 3px 10px;
    margin-left: 2%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 1%;
}
.Otp button{
    margin: 0 1%;
    width: 20%;
    background-color: #1771eb;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 0;
}
#butt{
    width: 30%;
    background-color: #1771eb;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 0;
}
 /* Add this style to make the button dark when disabled */
 #butt:disabled {
    background-color: darkgray;
    color: #666; /* Text color */
    cursor: not-allowed;
  }